#comments {
	background-color: $light-gray;
	min-height: 865px;
	.comments-title {
		margin-bottom: 33px;
	}
	.comment {
		padding-top: 42px;
		padding-bottom: 42px;
		h5, h6 {
			margin-bottom: 12px;
		}
	}
}
