#how-it-works {
	min-height: 969px;
	.container {
		.how-it-works-title {
			margin-bottom: 140px;
		}
		.how-it-works-items {
			.col-md-4 {
				padding-bottom: 30px;
				padding-top: 30px;
				img {
					margin-bottom: 33px;
				}
				h5 {
					margin-bottom: 25px;
				}
			}
		}
	}
}
