//user vars
$black: #000;
$transparent: transparent;
$lightest-gray: #f1f1f1;
$light-gray: #faf9f9;
$medium-gray: #474747;
$dark-gray: #141414;

// bootstrap override
$brand-primary: #e92121;
$brand-secondary: #fff;
$body-color: #b7b7b7;
$headings-color: #464646;

$font-size-h1: 60px;
$font-size-h2: 48px;
$font-size-h3: 30px;
$font-size-h4: 24px;
$font-size-h5: 18px;
$font-size-h6: 14px;
$lead-font-size: 18px;

$font-family-sans-serif: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;
