#why-choose-us {
	min-height: 510px;
	.why-choose-us-title {
		h2 {
			line-height: 1.25;
		}
	}
	.why-choose-us-item {
		padding-top: 29px;
		padding-bottom: 29px;
		h5 {
			margin-bottom: 17px;
		}
	}
}
